input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  padding: $negative_space / 1.55;
  transition: all 0.5s !important;

  &:focus {
    color: $color__text-input-focus !important;
    border-color: $color__background-body !important;
  }
}

select {
  border: 1px solid $color__border-input;
}

textarea {
  min-height: $negative_space * 10;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}