.wp-caption {
  margin-bottom: $negative_space;
  max-width: 100%;

  img[class*="wp-image-"] {
    @include center-block;
  }

  .wp-caption-text {
    padding: $negative_space / 2 0;
  }
}

.wp-caption-text {
  text-align: center;
  @include font-size(0.75);
  line-height: $font__line-height-body;
}
