$color__background-body: #8B038F;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-article: #fff;
$color__background-widget: #F9CF4E;
$color__background-site-branding: #688942;
$color__background-site-footer: #111;
$color__background-site-header: #fff;
$color__background-soft: #eee;
$color__background-soft-hover: #e5e5e5;

$color__text-screen: #8B038F;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #8B038F;
$color__link-visited: #8B038F;
$color__link-hover: #8B038F;
$color__text-main: #404040;

$color__border-input: #ccc;
$color__border-abbr: #666;